.main{
    /* background-color: blue; */
    margin-left: -105px;
    margin-right: -50px;
    display: grid;
    min-height: 100vh;
}
.backLog{
 background-color: #3F4659;
 display: flex;
 justify-content: space-between;
}
.backLogPlus{
    filter:invert(1);
    background:none;
     width:10px;
     margin-right:5px;
    }
    .backLogButtonCont {
        display:flex;
        justify-content: flex-end;
        width: 100%;
    }
    .createWindow {
        position: fixed;
        left: 0;
        top:0;
        width: 100vw;
        height: 100vh;
        z-index: 100000;
        background-color: rgba(0,0,0,0.4);
    }
    .createCard {
        width: 300px;
        background-color: white;
        margin-top: 45vh;
        margin-left: 42vw;
        transform: translateX(-50%),translateY(-50%);
    }
    .backLogButton {
        display:flex;
        align-items:center;
        
        width: fit-content;
        margin: 0;
    }
    .verticalText{
        height: max-content;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        margin-right: 10px;
        margin-left: 5px;
        margin-top: 30px;
        color: white;

    }
    .backLogCards{
        margin: 25px;
        margin-top: 40px;
    }
.content{
/* background-color: coral; */
padding-top: 70px;
}
    .section{
        overflow: hidden;
    }
    .title{
        background-color: #FCFCFC;
        border-top: 1px solid #D9EFF5;
        border-bottom: 1px solid #D9EFF5;
        font-family: SuisseIntlRegular;
        margin-bottom: 10px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tr{
        display: grid;
        grid-template-columns: 1fr 530px 530px 250px 1fr;
        /* column-gap: 50px; */
    }
        .titleTd{
            border-left: 2px solid #8b97c2;
            padding-left: 15px;
        }
        .td{
            border-left: 2px solid #8b97c2;
            padding-left: 15px;
            display: grid;
            grid-template-rows: max-content;
            column-gap: 10px;
        }
        .addGhost{
            background-color: white;
            min-width: 222px;
            height: 50px;
            margin-bottom: 10px;
            border: 1px solid grey;
            border-radius: 8PX;
  
        }


