.window {
   display: flex;
  align-items: center;
   flex-direction: column;
   padding-top: 22px;
   width:340px;
   height: 218px;
   background-color: white;
   position: absolute;
   left: 50vw;
   transform: translateX(-50%);
   top:40vh;
   border-radius: 10px;
}
.window__button__row {
   display: flex;
   align-items: space-around;
}
.window__button {
   outline: none;
   width: 147px;
   height: 28px;
   border: 1px solid black;
   border-radius: 5px;
   font-family: SuisseIntlLight;
   font-size: 14px;
   cursor: pointer;
   margin-bottom:10px;
   
   background-color: rgba(0,0,0,0);
}
.window__input {
   font-family: SuisseIntlLight;
   font-size: 14px;
   width: 290px;
   height: 24px;
   outline: none;
   padding-left: 10px;
   margin-bottom: 10px;
   border: 1px solid black;
}
.window__buttons__end {
   width: 65%;
   
   display: flex;
   justify-content: space-between;
}