.bg{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(63, 73, 108, 0.7);
    z-index: 9999999;
    display: grid;
    place-content: center;
}

.formContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
width: 300px;
    display: grid;
  
    
    grid-template-rows: max-content 26px 100px max-content;
    column-gap: 20px;
    row-gap: 23px;
}
.title{

}
.texts{

}
.createBtn{
    width: 170px;
margin-left: auto
}
.formSticky{
    position: sticky;
    top:100px;
}