.mainContainer{
    display: grid;
    grid-template-areas: 
    'profile news'
    'projects projects'
    ;
    grid-template-rows: min-content min-content;
    grid-template-columns:2fr 1fr;
    column-gap: 2vw;
    row-gap: 40px;
    text-align: left;
}
    .profile{
        grid-area: profile;
    }
    .news{
        grid-area: news;
        display: grid;
        row-gap: 20px;
        width: 100%;
    }
    .create__news {
        display: flex;
        align-items: flex-end;
    }
    .create__news__button {
        margin-left:10px;
        height:23px;
        cursor:pointer;
    }
        .allNews{
            /* text-align: right; */
            margin-left: auto;
            color: #3F496C;
        }
    .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas: 'myProj';
        width: 75%;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
        .myProj{
            grid-area: myProj;
            padding-bottom: 18px;
            margin-top: 7px;
            margin-left: 15px;
        }

@media (max-width: 1500px){
   
    /* .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas:
        'myProj myProj'
        '. . '
        ;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 35px;
    } */

}




@media (max-width: 1000px){
    .news{
       
        width: 50%;
     
    }
    .mainContainer{
        display: grid;
        grid-template-areas: 
        'profile'
        'news'
        'projects'
        ;
        grid-template-rows: min-content min-content min-content;
        grid-template-columns:1fr;
        column-gap: 2vw;
        row-gap: 40px;
        text-align: left;
    }
    /* .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas:
        'myProj myProj'
        '.'
        ;
        grid-template-columns: 1fr;
        column-gap: 35px;
        row-gap: 35px;
    } */
}