.mainContainer{
    display: grid;
    grid-template-areas: 
    'profile news'
    'projects tasks'
    'projects sprints'
    ;
    grid-template-rows: max-content max-content;
    grid-template-columns:2fr 1fr;
    column-gap: 2vw;
    row-gap: 40px;
    text-align: left;
}
    .profile{
        grid-area: profile;
        height: max-content;
    }
    .news{
        grid-area: news;
        display: grid;
        row-gap: 20px;
        width: 100%;
    }
    .create__news {
        display: flex;
        align-items: flex-end;
    }
    .create__news__img {
        margin-right:10px;
        height:23px;
        
    }
    .create__news__button {
        margin-left:10px;
        height:23px;
        cursor:pointer;
    }
        .allNews{
            /* text-align: right; */
            cursor: pointer;
            margin-left: auto;
            color: #3F496C;
        }
    .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas: 'myProj';
        width: 70%;
        height: max-content;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
    .my_sprints{
        grid-area: sprints;
        display: grid;
        grid-template-areas: 'myProj';
        width: 100%;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 15px;
        height: max-content;
    }
        .myProj{
            grid-area: myProj;
            padding-bottom: 18px;
            margin-top: 7px;
            margin-left: 15px;
            
        }
        .tasks {
            grid-area: tasks;
            height: max-content;
        }
        .my_tasks{
            margin-top: 15px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
        .myProjButton{
            grid-area: myProj;
            padding-bottom: 18px;
            margin-top: 7px;
            margin-left: 25px;
            cursor: pointer;
        }
@media (max-width: 1500px){
   
    /* .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas:
        'myProj myProj'
        '. . '
        ;
        grid-template-columns: 1fr 1fr;
        column-gap: 35px;
        row-gap: 35px;
    } */

}




@media (max-width: 1000px){
    .news{
       
        width: 100%;
     
    }
    .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas: 'myProj';
        width: 100%;
        height: max-content;
        grid-template-columns: 1fr;
        column-gap: 15px;
        row-gap: 15px;
    }
    .mainContainer{
        display: grid;
        grid-template-areas: 
        'profile'
        'news'
        'projects'
        'sprints'
        'tasks'
        
        ;
        grid-template-rows: min-content min-content min-content;
        grid-template-columns:1fr;
        column-gap: 2vw;
        row-gap: 40px;
        text-align: left;
    }
    /* .projects{
        grid-area: projects;
        display: grid;
        grid-template-areas:
        'myProj myProj'
        '.'
        ;
        grid-template-columns: 1fr;
        column-gap: 35px;
        row-gap: 35px;
    } */
}