.main {
	position: fixed;
	top:0;
	left:0;
	width:110px;
	color: black;
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;

}

.descr{
	position: absolute;
	left: 50px;
	color: white;
	margin-top: -63px;
	background-color: black;
	border-radius: 5px;
	padding: 10px;

}

.icon {
	width: 25px;
	padding-left: 3px;
	padding-right: 3px;
}
.admin {
	position: fixed;
	left: auto;
	right: 150px;
	top:20px;
}
.imgimg{
	
}