.main  {
    padding:20px;
    z-index: 1000;
    min-width: 720px;
}
.comments__area {
    
    height:60px;
    width:93%;
    border-radius:5px;
    margin:25px;
    margin-bottom:5px;
    border:1px solid #8FA7C6;
    outline: none;
}
.comments__image__container {
    height:190px;
    width:auto;
    display:flex;
    margin-top: 10px;
}
.comments__file {
    cursor: pointer;
    text-decoration: none;
}
.comments__file:hover {
    text-decoration: underline;
}
.comments__image__border{
    margin-left:10px;
    margin-right:10px;
    background-color:#CECECE;
    height:100%;
    width:5px;
    border-radius:5px;
}
.comments__image {
    object-fit: contain;
    max-height: 190px;
}
.anotherSumbmitButton {
    overflow-wrap: normal;
    font-family:SuisseIntlLight;
    cursor:pointer;
    outline:none;
    font-size:16px;
    border-radius:5px;
    height:28px;
    width:210px;
    white-space: nowrap;
    border: none;
    left: 250px;
}
.commentsImageInput {
    position:absolute;
    transform:translateX(-269px);
    width:210px;
    height:28px;
    cursor:pointer;
    opacity:0
}
.commentsImageMsg {
    position:absolute;
    transform:translateX(-269px) translateY(-23px);
    width:210px;
    height:28px;
}
.comments__textarea {
    padding:10px;
    width:96.6%;
    resize:none;
    border:none;
    border-radius:5px;
    font-family:SuisseIntlLight;
    outline: none;
    height: 40px;
}
.tasks__container{
    max-height:1000px;
    overflow-y:visible;
    overflow-x:hidden;
    
} 
.comments__name:hover {
    background-color: #eee
}
.comments__array {
    margin-top:10px;
    margin-left:25px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 260px;
    
} 
.event__date {
    cursor: pointer;
}
.event__date:hover {
    text-decoration: underline;
}
.editList {
	display: flex;
	flex-wrap:wrap;
	/* margin-bottom: 10px; */
	justify-content: flex-start;
	color:#3F496C;
	/* margin-top:10px; */
}
.creator {
    margin-left: 10px;
    margin-bottom: 15px;
}
.taglist{
	display: flex;
	margin-left:10px;
	margin-right:0px;
    height: 30px;
   
}

.taglist div{
	
	margin-right:10px;
	
}
.comments__author {
    margin-left:15px;
    width:85px;
    white-space: nowrap;
    width: fit-content;
    cursor: pointer;
}
.comments__author:hover {
   text-decoration: underline;
}
.comments__date {
    margin-left:15px;
    width:85px;
    white-space: nowrap;
    width: fit-content;
}
.comments__text{
    margin-left:15px;
    max-width: 400px;
}
.comments__button__area {
    position: relative;
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content:flex-end;
    
}
.comments__one {
    display:flex;
    align-items:flex-start;
    margin-top:10px;
}
