.bg{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(63, 73, 108, 0.7);
    z-index: 9999999;
    display: grid;
    place-content: center;
    
}
.card{
    width: 35vw;
}
    .form{
        
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
    
        display: grid;
      
        
        grid-template-rows: max-content 26px 224px max-content max-content;
        column-gap: 20px;
        row-gap: 23px;
    }
    .title{

    }
    .subtitle{

    }
    .text{

    }
    .edit{
        margin-left: auto;
    }
    .cancel{
        margin-left: auto;
    }
@media (max-width: 1000px){
    .card{
        width: 90vw;
    }
}