.editForm{
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 20px;
    column-gap: 30px;
}
.avaForm{
    display: grid;
    grid-template-columns: max-content 1fr;
    

}
.p{
    margin: 0;
}
@media(max-width:1000px){
    .editForm{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
        column-gap: 30px;
    }
}