
.row {
	display: flex;	
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: flex-start;
	border-bottom: 1px solid #939393;
	margin-top: 60px;
	padding-bottom: 10px;
	max-width: 1150px;
	margin-left: -60px;
}
.main {
	margin-top: -25px;
}
.main td{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}
.row__in {
	display: flex;
	margin-top: 10px;
	margin-right: 80px;
}
.first:hover {

	background: none!important;
	cursor: default;

}
.title {
	margin-left: -60px;
}
.searchRes {
	background-color:white;
	padding:10px;
}
.input {
	position:absolute;
	background-color:white;
	border:1px solid grey;
	border-top:0px solid;
	margin-top:12px;
	width:160px;
}
.row__img {
	height: 23px;
	width: 23px;		
}

.tr {
	grid-template-columns: repeat(6,1fr);
}
.contractors {
	grid-template-columns: repeat(4,1fr);
}
.trr {
	grid-template-columns: repeat(6,1fr);
}
.tr__inproj {
	grid-template-columns: 1fr 1fr 50px;
	height: 50px;
	
}
.turn__off__700{
	display: flex
} 
.editContractor:hover{
	color:#3F496C;
	text-decoration:  underline ;
}
.row__name {
	display: flex;
	align-items: center;
}
.img {
	height: 30px;
	width: 30px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 10px;
}
.tr__user{
	grid-template-columns: repeat(4,1fr);
}

.image {
	border-radius: 100%;
	height:50px;
	width: 50px;
	object-fit: cover;
}
@media(max-width:1450px){
	.turn__off__1450{
		display: none
	}
}
@media(max-width:1000px){
	.editContractor{
		display: none;
	}
	.title {
		margin-left: 0px;
	}
	.row {

		margin-left: 0px;
	}
	.tr__inproj {
		grid-template-columns: 1fr 50px;
		height: 50px;
	}
	.tr {
		grid-template-columns: 1fr 25px;
	}
	.trr {
		grid-template-columns: 1fr 70px;
	}
	.tr__user {
		grid-template-columns: repeat(2,1fr);
	}
	.contractors {
		grid-template-columns: repeat(3,1fr);
	}
	.turn__off{
		display: none
	}
}
@media (max-width:700px) {
	.turn__off__700{
		display: none
	}
}