.card__thing__full {
	transition: 300ms all ease;
	height: 10px;
	
	background-color: #5286D4;
}
.pointer  {
	cursor: pointer;
}
.td{
	border: none;
	border-collapse: collapse;
}
.edit__task {
	display: flex;
	
}
.input {
	height: 20px;
	outline: none;
	border-radius: 5px;
	border: 1px solid black;
	margin-right: 25px;
	font-size: 16px;
}
.card__thing {
	width: 150px;
	height: 10px;
	border-radius: 5px;
	background-color: #C4C4C4;
	overflow-x: hidden;
	
	margin-left: 15px;
	margin-top: 4px;
}
.changeDescr {
	background-color: white;
	margin-top: -1px;
	font-family: SuisseIntlThin;
	font-size: 16px;
	border: none;
	margin-left: -1px;
	width: 100%;
}