.contain {
	display: grid;
	margin-top: 5vh;
	grid-template-rows: repeat (max-content, 3);
	grid-template-columns: 0.87fr 1.13fr;
	

	
}
.first__col{

		margin-left: 15%;
		width: 85%

}
.sprints {
	grid-area: sprints;
	width: 100%;

}
.team {
	width: 100%;
	overflow-x: hidden;
	grid-area: team;
	margin-top: -45px;
}

.first__row{
	display: flex;
	justify-content: space-between;
}
.card {
	padding: 7px;
	padding-left: 13px;
	background-color: white;
	border-radius: 7px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 50px;
	width: 90%;
 	border:1px solid #8FA7C6;
	margin-top: 0px;
	margin-bottom: 15px;
}
.hist__sprint {
	color:#171F65;
	margin-left:300px;
	margin-top:10px;
	cursor: pointer;
	margin-bottom: 20px;
}
.card__date1 {
	text-align: right;
}
.card__title {
	text-align: left;
	
}
.link{
	cursor:pointer;
	border-bottom: 1px solid transparent;
}
.link:hover {
	color: #5286D4;
	border-bottom: 1px solid #5286D4;
}
.chosen{
	height: 25px;
	width: 25px;
}
.card__descr {
	text-align: left;
}
.card__date2 {
	text-align: right;
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}
.second__row {
	display: flex;
	margin-top: 15px;
}
.tdd {
	min-width:150px;
}
.sprintDateHist {
	text-align:end;
	width:120px; 
	padding-right: 0;
}
.history_tags{
	
	flex-direction: row;
	display: flex;
	justify-content: flex-end;
	padding-right: 0px;
	
	padding-top: 16px;
}
.card__tasks {
	margin-top: -10px;
	margin-bottom: 10px;
	display: flex;
	justify-content: flex-start;
}

.card__thing {
	width: 100px;
	height: 10px;
	border-radius: 15px;
	background-color: #C4C4C4;
	overflow-x: hidden;
	margin-right: 10px;
}
.card__thing__full {

	height: 10px;
	
	background-color: #5286D4;
}
.card__buttons {
	display: flex;
	justify-content: space-between;
}
.sprint__title {
	
	display: flex;
	padding-top: 15px;
	padding-bottom: 25px;
	justify-content: space-between;
	
}

.info__project {
	width: 80%;
	height: auto;
	border: 1px solid #8FA7C6;
	border-radius: 10px;
	
	padding: 20px;
}
.info__descr__laptop {
	display: none;
}
.info__line {
	margin-bottom: 15px;
	min-width: 50px;
}
.info__link {
	border-bottom: 1px solid #C4C4C4;
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}
.info__link:last-child{
border-bottom: none;
}
.info__cont {
	grid-area: info;
	width: 90%;
	
	height: max-content!important;
}
.info__crypt {
	display: flex;
}
.sprint__in {display: flex;}
.sprint__title__img {
	height: 23px;
	margin-right: 15px;
}
.sprint__title__plus {
	margin-left: 5px;
	margin-top: 2px;
	margin-left: -25%;
	cursor: pointer;
}
.special__button {
	border-radius: 15px;
	width: 450px;
	height: 290px;
	margin-top: 25px;
	background-color: #C4C4C4;
	border: 0px;
	outline: none;
	text-decoration: none;
}
.special__button:hover{
	outline: none;
	background-color: white;
}
.model{
	background-color: blue
}
.border__calend{
	width: 100%;
	
}
.info__flex {
	flex-wrap: nowrap;
	width: 100%; 
	display: flex;
}
.border__team
{
	text-align: left;
	width: 100%;
	border-bottom: 1px solid black;
	margin-top: 65px;
	margin-bottom: 35px;
}
.title__cont {
	grid-area: title;
}
.history_table2{
	
	/* border: 1px solid #8FA7C6; */
	border-radius: 10px; 
}
.history_table2 table{
	
	border-radius: 10px;
}
.history_table2 td{
	
	border-radius: 5px;
}
.history_head:hover {
	background-color: white;
	color: default;
}
.history_first {
	padding-left: 40px;
}
.title__row {
	display: flex;
}
.title {
	
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
	text-align: left;
	width: 100%;
	border-bottom: 1px solid black;
	font-size: 24px;
	padding-bottom: 10px;
	margin-bottom: 10px;
} 
.titleChange{
	font-size: 24px;
	font-family: SuisseIntlSemibold;
	border: none;
	background-color: #ECECEC;
	width: 100%;
}
.dateChange{
	font-size: 16px;
	margin-top: -4px;
	font-family: SuisseIntlRegular;
	border: none;
	background-color: #ECECEC;
	width: fit-content;
}
.tag {
	border-radius: 25px;
	width: fit-content;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	height: fit-content;
	text-align: center;
	border: #C4C4C4 solid 1px;
}
.title__options {
	margin-right: 10px;
	transition: 200ms ease all;
	border-bottom: 1px transparent;
	cursor: pointer;
}
.title__options:hover {
	transition: 200ms ease all;
	border-bottom: 1px solid black;
}
.link{
	cursor:pointer;
	border-bottom: 1px solid transparent;
}
.link:hover {
	color: #5286D4;
	border-bottom: 1px solid #5286D4;
}
.title__small {
	grid-area: title-small;
	align-items: center;
	display: flex;
	
	
}
.title__2 {
	align-items: center;
	display: flex;

	
}
.title__deadline {
	display: flex;
	margin-top: 0px;
	margin-right: 20px;
	text-align: left;
}
.tag__row {
	display: flex;
	margin-bottom: 60px;
	margin-top: 15px;
}
.tag__row__laptop {
	display: none;
	margin-left: 20px;
}
.sprintdescr__cont {
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	width: 100%;
}
.title__history {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.history {
	width: 79%;
	grid-area: history;
	
}
@media screen and (max-width: 1400px)  {
	.history {
		width: 100%;
		grid-area: history;
	}
}



.title__info {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	align-items: flex-start; 
	flex-wrap: wrap;
}
.title__tags {
	display: flex;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 50%;
	flex-wrap: wrap;
	
}
.title__img {
	width: 30px;
	height: 30px;
}
.change__info {
	margin-left: 10px;
	margin-top: 5px;
	cursor: pointer;
}
.calend__contain {
	grid-area: calend;
	height: max-content;
}
.model__cont {
	align-self: start;
	grid-area: model;
}
.calend {
	padding-top:10px;
	font-size: 16px;
	font-family: SuisseIntlLight;
	background-color: white;
	border-radius: 15px;
	height: 180px;
	width: 100%;
	
}
.calend__title {
	position: absolute;
	margin-left: 380px;
	margin-right: 10px;
	margin-top: -40px;
}
.months {
	transform: translateY(-35px)
	
}

.one__month {
	font-family: SuisseIntlLight;
	font-size: 12px;
	width: 43px;
	padding-bottom: 10px;
}
.contain__menu {
	display:flex; 
	justify-content:space-between;
	flex-direction: row;
}
.weeks {
	margin-top:25px;
	border-top: 1px solid #929292;
	height: 150px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/* border-bottom: 1px solid #929292; */
}
.count {
	margin-top:15px;
	width: 17px;
	height: 17px;
}
.one__week {
	font-family: SuisseIntlLight;
	font-size: 12px;
	padding-top:-15px;
	margin-top:15px;
	width: 17px;
	height: 17px;
	background-color: grey;
}
.exit{
	padding-top: 18px;
	

	font-size: 16px;
	color:black;
	

	margin-top: 20px;
}
.team__button {
	width:433px;
	height:190px;
	border-radius: 15px;
	font-size: 20px;
	font-family: SuisseIntlSemibold;
	background-color:#C4C4C4;
	border: 0px;
}
.tags {
	display:flex;
	 align-items:center;
	 margin-top: -15px;
	 margin-left: 20px;
	 
}

.team__button:hover {
	cursor: pointer;
	background-color:white;
}
@media screen and (max-width: 1500px)  {
	.info__descr__laptop {
		display: block;
	}
	.contain {
		display: grid;
		
		grid-template-rows: repeat (max-content, 5);
		
		grid-template-columns: 0.5fr 0.45fr;
		grid-template-areas: 
		'sprints info'
		'team history'
		'model history'
		;
		column-gap: 70px;
	}
	.title {
		
		margin-bottom: 50px;
	}
	.tag__row {
		display: none;
	}
	.tag__row__laptop {
		display: flex;
		transform: translateY(5px);
	
	}
	.title__deadline {
		display: none;
	}
	.history_creator {
		display: none;
	}
}
@media screen and (max-width: 1200px) {
	.info__flex {
		flex-wrap: wrap;
	}
	.contain {
		display: grid;
		
		grid-template-rows: repeat (1fr, 8);
		grid-template-columns: 1fr;
		grid-template-areas: 
	
		'sprints'
		'team'
		'model'
		'info'
		'history'
		;
	}
	
}
@media (max-width: 1000px) {
	.first__col{
		margin-left: 0;
		width: 100%;
	}
	.off {
		display: none;
	}
	.history_table2{
		width: 100%;
	}
	.info__project {
		width: 89vw;
		height: auto;
		border: 1px solid black;
		border-radius: 10px;
		
		padding: 20px;
	}
	
}
@media (max-width:700px){
	.title__cont {
		width: 90vw;
	}
	.team {
		width: 90vw;
	}
	.off__too {
		display: none;
	}
	.history{width: 90vw;}
	.history_table2{display: none};
	.tags {
		display: none;
	}
	.info__cont {
	
		height: auto;
	}
	.sprintdescr__cont {
		width: 100%
	}
	.card {
		width: 85vw;
	}
	.second__row {
		flex-direction: column;
		justify-content: flex-start;
	}
	.tags {
		
		
	}
	.team__button {
		width: 100%;
	
	}
	
	.special__button {
		border-radius: 15px;
		width:84vw;
		height: 290px;
		margin-top: 25px;
		
	}
	.title__options {
		display: none;
	}
	.history{display: none;}
	.title {
	
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			text-align: left;
			width: 90vw;
			border-bottom: 1px solid black;
			font-size: 24px;
			padding-bottom: 10px;
			margin-bottom: 10px;

	}
	.info__project{width: 80vw;}
	.calend {
		padding-top:10px;
		font-size: 16px;
		font-family: SuisseIntlLight;
		background-color: white;
		border-radius: 15px;
		height: 180px;
		margin:0;
		width: 90%;
	}
	.calend__title{
		position: absolute;
		margin-left:0px;
		margin-right: 0;
		margin-top: -40px;
	}
	.title__info {
		display: none;
	} 
	.exit{
		left:auto;
		right:5px;
		
	}
	.exit_in {
		display: none;
	}
	.hist__sprint {
		color:#171F65;
		margin-left:0px;
		margin-top:10px
	}
	.one__week {
	
		font-size: 10px;
	
	}
}
