.first_block{
	height:fit-content;
	width:30vw; 
	padding-bottom:20px;
} 
.second_block {
	
	text-align:right;
	width:40vw; height:fit-content;
	 padding-bottom:20px
}
@media(max-width:1020px) {
	.second_block {
	
		width:100%;
	}
	.first_block{
		width:100%;
	}
}