.container {
    background-color: black;
    width: 105vw;
    padding-left: 90px;
    height:30px;
    margin-top: -42px;
    padding-top: 15px;
    margin-left: -130px
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    color: white;
}
.ideasHead {
 
        background-color: black;
        width: 107vw;
        margin-left: -7vw;
        height: 45px;
        margin-top: -45px;

}
.ideasHeadRow {
 
    display: flex;
    flex-direction: row;
    width: 200px;
    margin-left: 56%;
    color: white;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 15px;

}
@media (max-width:1400px) {
    .container {
        margin-top: -43px;
        margin-left: -105px;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 82vw;
        color: white;
    }
}
@media (max-width:1000px) {
    .ideasHeadRow {
        margin-left: 66%
    }
    .container {
        margin-left: -45px;
        margin-left: -75px;

    }
}

@media (max-width:700px) {
    .ideasHeadRow {
 
        display: flex;
        flex-direction: row;
        width: 200px;
        
        margin-left: 20px;
        height: 100px;
        color: white;
        justify-content: space-between;
 
        text-decoration: none;
        padding-top: 15px;
    
    }
    .container {
        margin-left: -45px;
        height:140px;
    }
    .row {
        margin-left: -30px;
        
        flex-direction: column;
        justify-content: space-between;
    }
}