.container {
    background-color: black;
    width: 105vw;
    padding-left: 90px;
    height:30px;
    margin-top: -42px;
    padding-top: 15px;
    margin-left: -130px
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    color: white;
}
@media (max-width:1400px) {
    .container {
        margin-top: -43px;
        margin-left: -75px;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 82vw;
        color: white;
    }
}

@media (max-width:700px) {
    .container {
        margin-left: -45px;
        height:130px;
    }
    .row {
        flex-direction: column;
        justify-content: space-between;
    }
}