.formContain {
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	height:100%
}
.week {
	margin-left:auto;
	margin-right:-8px;
	width:210px;
	margin-top:50px
}
.select {
	font-family:SuisseIntlThin;
	width:210px;
	font-size:16px
}
.taskDescr {
	width:30vw;
	font-family:SuisseIntlThin;
	font-size:16px;
}
.buttons {
	display:flex;
	justify-content:space-between;
	margin-bottom: 170px;
}
.small__title {
	margin-bottom: 5px;
}
.formContain input {
	height: 30px;
}
.taskContain {
	
	scrollbar-width: none;
	width: 35vw;
	height: 250px;
	overflow-y: scroll;
}

.button {
	width: 200px
}
@media(max-width:700px){
	.buttons {
		display:flex;
		justify-content:space-between;
		margin-bottom: 230px;
	}
	.week {
		margin-left:0;
		margin-right:auto;
		width:210px;
		margin-top:50px
	}
	.taskDescr {
		width:40vw;
		font-family:SuisseIntlThin;
		font-size:16px;
	}
	.taskContain {
	
		scrollbar-width: none;
		width: 45vw;
		height: 250px;
		overflow-y: scroll;
	}
}