.transitionsEnter{
    opacity: 0;
    height: 0px;
}
.transitionsEnterActive{
    opacity: 1;
    /* height: max-content; */
    transition: all .3s;
}
.transitionsExit{
    opacity: 1;
    /* height: max-content; */
}
.transitionsExitActive{
    opacity: 0;
    height: 0px;
    transition: all .3s;
}

.menu {
    z-index: 10;
  
    background-color: white;
    border: 1px solid #a7a7a7;

    width: 180px;
    position: absolute;
    left: auto;
    right: 3vw;
    height: 100px;
    padding:10px;
    border-radius: 7px;
    margin-top: 15px;
}