.profile{
    display: flex;


}
    .avatar{

        height: 342px;
        width: 342px;
        object-fit: cover;
    }
    .small__avatar{
        display: none;
        height: 55px;
        width: 55px;
        object-fit: cover;
        border-radius: 100%;
    }
    .gap_img{
       margin-left: 0px; 
    }
    .info__title {
        display: flex;
        justify-content: space-between;
        width: 520px;
        margin-top: 60px;
        margin-bottom: 10px;
        
    }
    .row {
        display: flex;
        justify-content: space-between;
    }
    .row2 {
        display: flex;
        
    }
    .info {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 500px;
    }
    .info__point {
        margin-top: 10px;
        display: flex;
        text-decoration: none;
        align-items: center;
    }
   
        .change{
           display: flex;
           align-items: flex-end;
        }
        .name{
            margin-right: 10px;
        }
        .gap {
            margin-left: 75px;
        }
        .parts{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 400px;
            margin-top: 20px;
        }
@media (max-width: 1500px){
    .gap_img{
        margin-left: 20px; 
     }
    .avatar{
        display: none;
    }
    .gap {
        margin-left: 0px;
    }
    .small__avatar{
        display: block;
    }
}
@media (max-width: 1000px){
        .profile{
            display: grid;
            grid-template-areas: 
            'ava  name '
            'ava  pos  '
            'ava change'
            'ava  .'
            ; 
            grid-template-columns: max-content 1fr;
            grid-template-rows: min-content min-content min-content 1fr ;
            height: auto;
    }
    .change{
        grid-area: change;
        display: grid;
        transform: translate3d(0px,0px,0);
    }
    .avatar{
        grid-area: ava;
        height: 20vw;
        width: 20vw;
        border-radius: 50%;
    }
    .name{
        grid-area: name;
    }
       
    

    .pos{
        grid-area: pos;
    }
    
}
@media (max-width: 600px){
    .parts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 300px;
        margin-top: 20px;
    }
    .row2 {
        width: 85vw;
    }
    .info__title {
        width: 85vw;
        
    }
    .info {
        
        width: 85vw;
       
        
    }
    .row {
        display: flex;
       flex-direction: column;
    }
    .avatar{
        grid-area: ava;
        height: 30vw;
        width: 30vw;
    }
}