.projContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 105px;
    border: 1px solid #8FA7C6;

}
.projtop {
    display: flex;
    justify-content: space-between;
}
.end {
    display: flex;
    justify-content: flex-end;
}
.title {
    margin-top: 5px;
}
.title:hover {
    color: #445AAA;
    text-decoration: underline;
}
.tags {
    display: flex;
  
    transform: translateY(10px);
}
.tags div {
    margin-right: 20px;
}
 @media(max-width:1000px) {
    
    .projtop {
        display: flex;
        flex-direction: column;
    }
    
 }
