.projContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    border: 1px solid grey;

}
.projtop {
    display: flex;
    justify-content: space-between;
}
.end {
    display: flex;
    justify-content: flex-end;
}
.title:hover {
    color: #445AAA;
    text-decoration: underline;
}
.tags {
    display: flex;
    
    
}
.tags div {
    margin-right: 20px;
}
 @media(max-width:1000px) {
    .projContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        border: 1px solid #8FA7C6;
    
    }
    .projtop {
        display: flex;
        flex-direction: column;
    }
    
 }
