.formContainer{
    
    display: grid;
  
    
    grid-template-rows: max-content 26px 224px max-content;
    column-gap: 20px;
    row-gap: 23px;
}
.formCard {
    margin-top: 20vh;
    margin-left: 40vw;
    width: 30vw;
}
.title{
}
.texts{

}
.createBtn{
    width: 170px;
margin-left: auto
}
.formSticky{
    position: sticky;
    top:100px;
}