.cardGrid{
    display: grid;
    grid-template-areas:
    'cross card inWork'
    ;
    grid-template-columns: 25px 1fr max-content;
    column-gap: 35px;
    margin-top: 30px;
}
.inWork{
    grid-area: inWork;
    margin-top: auto;
    margin-bottom: auto;
cursor: pointer;
    transition: all .3s ease-in-out;
}
.inWork:hover{
    transform: scale(1.2);
}
.deleteBtn{
    grid-area: cross;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
        .deleteBtn:hover{
            transform: scale(1.2);
        }

.cardContainer{
    grid-area: card;
    display: grid;
    grid-template-areas:
    '. . date'
    'title title .'
    'texts texts .'
    'filters likes   likeB'
    ;
    grid-template-columns:max-content 1fr  max-content;
    column-gap: 10px;
    row-gap: 10px;
}
.title{
    max-width: 350px;
    grid-area: title;
}
.text{
    max-width: 350px;
    grid-area: texts;

}
.date{
    grid-area: date;

}
.likes{
    grid-area: likes;
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;

}
.likeBtn{
    grid-area: likeB;
    height: 30px;
}

.inWorkBtn{
    grid-area: filters;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
    cursor:pointer;
}
@media(max-width: 1000px){
    .cardGrid{
        display: grid;
        grid-template-areas:
        'card card'
        'cross inWork'
        ;
        grid-template-columns: max-content 1fr;
        column-gap: 35px;
        row-gap: 10px;
    }
    .inWork{
        grid-area: inWork;
        
    }
    .deleteBtn{
        grid-area: cross;
        margin-left: 20px;
    }
            .deleteBtn:hover{
                transform: scale(1);
            }
}