.App {
  text-align: left;
  display: flex;
  justify-content: flex-start;

  height: max-content;
  min-height: 100vh;
  background-color: rgb(240, 239, 239);
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input{
  border-radius: 7px;
  font-family: SuisseIntlLight;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.adsk-viewing-viewer #toolbar-explodeTool{display:none!important}
.adsk-viewing-viewer #toolbar-measurementSubmenuTool{display:none!important}
.adsk-viewing-viewer #toolbar-modelStructureTool{display:none!important}
.adsk-viewing-viewer #toolbar-cameraSubmenuTool{display: none !important;}

.adsk-viewing-viewer #toolbar-propertiesTool{display: none !important;}

.adsk-viewing-viewer.dark-theme .adsk-control-group {
    background-color: rgb(63 73 108);
}


.adsk-viewing-viewer.dark-theme .adsk-button.active, .adsk-viewing-viewer.dark-theme .adsk-button:focus{
  box-shadow: none;
}



.VersionIcon {
    background-image: url(https://github.com/encharm/Font-Awesome-SVG-PNG/raw/master/white/png/24/object-group.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
}