.openForm{
    height: 110px;
    display: grid;
    place-content: center;
}
.officeContainer{
    display: grid;
    grid-template-areas:
    'title .'
    'filters .'
    'cards form'
    ;
    grid-template-rows: max-content max-content auto;
    grid-template-columns: 1.3fr 1fr .15fr;
    column-gap: 180px;
    row-gap: 20px;
}


.title{
    grid-area: title;
    margin-left: 65px;
}
.filters{
    grid-area: filters;
    margin-left: 65px;
    
}
.cardsContainer{
    grid-area: cards;
    display: grid;
    row-gap: 18px;
    
}
.row {
    display: flex;
   
}
.row__array{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.title__array{
    margin-top: 50px;
    margin-left: 65px;
}
.formArea{
    grid-area: form;
}

@media (max-width: 1400px){
    .officeContainer{
 
        grid-template-columns: 1.5fr 1fr;
     
    }
}
@media (max-width: 1000px){
    .title__array{
        margin-top: 30px;
        margin-left: 0px;
    }
    .filters {
        margin-left: 0px;
    }
    .title{
        margin-top:0px;
        margin-left: 0px;
    }
    .officeContainer{
        display: grid;
        grid-template-areas:
        'title'
        'form'
        'filters'
        'cards cards cards'
        ;
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr 1fr;
  
    }
    .cardsContainer{
        grid-area: cards;
        display: grid;
        row-gap: 30px;
        
    }
}   
@media (max-width: 500px){
    .newsContainer{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 30px;
        row-gap: 10px;
    }
    .buttons{
        display: grid;
        place-content: unset;
        row-gap: 10px;
        margin-left: 10px;
    }
  
}