.card{
    background-color: white;
    width: 222px;
    min-height: 50px;
    margin-bottom: 10px;

    border-radius: 8PX;
    display: flex;
    cursor: pointer;
}
.card__circuit {
    width: 8px;
    height: auto;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px
}
.card__content {
    width: 93.2%;
}
.card__content__second {
    display:flex;
    padding-left:5px;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.card__delete__window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.329);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
}
.cardOpnenBackground{
    position: fixed;
    right: 0;
    left: 0;
    top: -47px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.329);
}
    .cardOpnenContainer{
    
        
        margin-top: 113px;
        margin-left: auto;
        width: 711px;
        height: 100%;
        border: 1px solid rgb(208, 211, 255);
        background-color: white;
    }